@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Loan Management System</h1>
    <p>The purpose of this program is to manage users, who signed up a Loan</p>
    <p>Select the Above Options!!</p>
</div>